* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

main {
    background-color: hsl(0, 0%, 95%);
    min-height: 100vh;
    padding: 0;
    margin: auto;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grad-card {
    width: 400px;
    height: 200px;
    background-color: aqua;
}

.info-card {
    width: 200px;
    height: 200px;
    background-color: yellow;
}